.postmodalcontainer{
    display: flex;
    flex-direction: column;
    height: auto;
}
.closebtncont{
    display: flex;
    justify-content: flex-end;
    border-radius: 50%;
}
.posttxt {

    padding: 40px 0px;
    width: 600px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.postinput{
    outline: none;
    border: none;
    border-radius: 10px;
    height: auto;
    padding: 40px;
}
.postimginsert {
   
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #0097e6;
    margin: 0px 78px;
    border-radius: 5px;
    border-style: dashed;
}
.postimginsert label{
    background-color: #0097e6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 200px;
    border-radius: 5px;
    cursor: pointer;
    
}
.postimginsert input[type="file"]{
    display: none;
}
.postimginsert label img{
    height: 30px;
    width: 30px;
}
.postbtnarea{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.postbtn{
    height: 50px;
    width: 300px;
    font-size: 20px;
    color: #f5f6fa;
    background-color: #0097e6;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}