.search {
    border: 2px solid #f5f6fa;
    padding: 10px;
    border-radius: 10px;
    color: #353b48;
    background-color: #f5f6fa;
    width: 380px;
    cursor: pointer;
    margin: 20px 0px;
    outline: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
